<style>
  #headerimg { background-image: url(/public/imgs/NewsBanner_LingGao.jpg); }
</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>News</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="public/grayscale.css" />
    <link rel="shortcut icon" type="image/png" href="./img/favicon.gif"/>
    <link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Jost:wght@400;600&family=Libre+Baskerville:wght@700&family=Montserrat:wght@800&family=Playfair+Display:wght@600;800&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Lora:wght@600&family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>
  <div class="topBar">
    <div class="navOptions">
      <ul class="list">
          <li class="option">
              <a class="link" href="/news">News</a>
          </li>
          <li class="option">
              <a class="link" href="/sports">Sports</a>
          </li>
          <li class="option">
              <a class="link" href="/opinion">Opinion</a>
          </li>
          <li class="option">
              <a class="link" href="/wknd">WKND</a>
          </li>
      </ul>
    </div>
  </div>
  <div class="bg-image" id="headerimg">
    <span class="title">News</span>
  </div>
  <div class="center">
    <a href="#about" class="btn btn-circle page-scroll">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
    <div id="about"></div>
  </div>
  <!-- About Section -->
  <div class="abouttext">
    From Calhoun College to the college admissions scandal, ER&M advocacy to Yale-Harvard divestment protests and Nelson Pinos to Stephanie and Paul, here are the stories that have shaped Yale and New Haven over the past four years.
  </div>

  <!-- YEAR ONE GRAPHIC -->
  <img src="/public/imgs/news/YearOne.jpg" class="extra">

  <!-- CLASS OF 2020 ADMISSIONS RERUN -->
  <a class="link-wrap" href="https://yaledailynews.com/">
    <article class="story articlecontainer" style="background-image: url({{stories.News.0.imageURL}}); ">
        <div class="darkenimage">
          <h1 class="articletext">{{stories.News.0.title}}</h1>
          <div class="articleblurb">{{stories.News.0.blurb}}</div>
          <div class="articleauthor">By {{stories.News.0.authors}}</div>
        </div>  
    </article>
  </a>

  <!-- SALOVEY 2020 FIRST-YEAR ADDRESS RERUN -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.1.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.1.title}}</h1>
        <div class="articleblurb">{{stories.News.1.blurb}}</div>
        <div class="articleauthor">By {{stories.News.1.authors}}</div>
      </div>  
  </article>
</a>

<!-- 2016 ELECTION: NOV 2016 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.2.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.2.title}}</h1>
        <div class="articleblurb">{{stories.News.2.blurb}}</div>
        <div class="articleauthor">By {{stories.News.2.authors}}</div>
      </div>  
  </article>
</a>

<!-- CALHOUN COLLEGE RENAMING: FEB 2017 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.3.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.3.title}}</h1>
        <div class="articleblurb">{{stories.News.3.blurb}}</div>
        <div class="articleauthor">By {{stories.News.3.authors}}</div>
      </div>  
  </article>
</a>

<!-- CHUN BECOMING DEAN OF YALE COLLEGE: APRIL 2017 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.4.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.4.title}}</h1>
        <div class="articleblurb">{{stories.News.4.blurb}}</div>
        <div class="articleauthor">By {{stories.News.4.authors}}</div>
      </div>  
  </article>
</a>

<!-- YEAR TWO GRAPHIC -->
<img src="/public/imgs/news/YearTwo.jpg" class="extra">

<!-- PAULI MURRAY AND BEN FRANKLIN OPENING: SEPT 2017 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.5.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.5.title}}</h1>
        <div class="articleblurb">{{stories.News.5.blurb}}</div>
        <div class="articleauthor">By {{stories.News.5.authors}}</div>
      </div>  
  </article>
</a>

<!-- FRATS: OCT 2017 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.6.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.6.title}}</h1>
        <div class="articleblurb">{{stories.News.6.blurb}}</div>
        <div class="articleauthor">By {{stories.News.6.authors}}</div>
      </div>  
  </article>
</a>

<!-- NELSON PINOS: NOV 2017 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.7.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.7.title}}</h1>
        <div class="articleblurb">{{stories.News.7.blurb}}</div>
        <div class="articleauthor">By {{stories.News.7.authors}}</div>
      </div>  
  </article>
</a>

<!-- SAIFULLAH KHAN: NOV 2017 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.8.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.8.title}}</h1>
        <div class="articleblurb">{{stories.News.8.blurb}}</div>
        <div class="articleauthor">By {{stories.News.8.authors}}</div>
      </div>  
  </article>
</a>

<!-- WHIFFENPOOFS: FEB 2018 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.9.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.9.title}}</h1>
        <div class="articleblurb">{{stories.News.9.blurb}}</div>
        <div class="articleauthor">By {{stories.News.9.authors}}</div>
      </div>  
  </article>
</a>

<!-- GRAD SCHOOL: MAY 2018 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.10.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.10.title}}</h1>
        <div class="articleblurb">{{stories.News.10.blurb}}</div>
        <div class="articleauthor">By {{stories.News.10.authors}}</div>
      </div>  
  </article>
</a>

<!-- YEAR THREE GRAPHIC -->
<img src="/public/imgs/news/YearThree.jpg" class="extra">

<!-- KAVANAUGH HEARINGS: SEPT 2018 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.11.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.11.title}}</h1>
        <div class="articleblurb">{{stories.News.11.blurb}}</div>
        <div class="articleauthor">By {{stories.News.11.authors}}</div>
      </div>  
  </article>
</a>

<!-- CONNECTICUT STATE ELECTIONS: NOV 2018 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.12.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.12.title}}</h1>
        <div class="articleblurb">{{stories.News.12.blurb}}</div>
        <div class="articleauthor">By {{stories.News.12.authors}}</div>
      </div>  
  </article>
</a>

<!-- CIVILIAN REVIEW BOARD: JAN 2019 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.13.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.13.title}}</h1>
        <div class="articleblurb">{{stories.News.13.blurb}}</div>
        <div class="articleauthor">By {{stories.News.13.authors}}</div>
      </div>  
  </article>
</a>

<!-- ADMISSIONS SCANDAL: MARCH 2019 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.14.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.14.title}}</h1>
        <div class="articleblurb">{{stories.News.14.blurb}}</div>
        <div class="articleauthor">By {{stories.News.14.authors}}</div>
      </div>  
  </article>
</a>

<!-- ERM PROTESTS: MARCH 2019 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.15.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.15.title}}</h1>
        <div class="articleblurb">{{stories.News.15.blurb}}</div>
        <div class="articleauthor">By {{stories.News.15.authors}}</div>
      </div>  
  </article>
</a>

<!-- G-HEV JOSH LEAVING: APR 2019 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.16.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.16.title}}</h1>
        <div class="articleblurb">{{stories.News.16.blurb}}</div>
        <div class="articleauthor">By {{stories.News.16.authors}}</div>
      </div>  
  </article>
</a>

<!-- JUSTICE FOR STEPHANIE AND PAUL: APR 2019 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.17.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.17.title}}</h1>
        <div class="articleblurb">{{stories.News.17.blurb}}</div>
        <div class="articleauthor">By {{stories.News.17.authors}}</div>
      </div>  
  </article>
</a>

<!-- YEAR FOUR GRAPHIC -->
<img src="/public/imgs/news/YearFour.jpg" class="extra">

<!-- 50WOMEN150: SEPT 2019 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.18.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.18.title}}</h1>
        <div class="articleblurb">{{stories.News.18.blurb}}</div>
        <div class="articleauthor">By {{stories.News.18.authors}}</div>
      </div>  
  </article>
</a>

<!-- ELICKER ELECTION: NOV 2019 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.19.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.19.title}}</h1>
        <div class="articleblurb">{{stories.News.19.blurb}}</div>
        <div class="articleauthor">By {{stories.News.19.authors}}</div>
      </div>  
  </article>
</a>

<!-- HARVARD-YALE PROTEST: NOV 2019 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.20.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.20.title}}</h1>
        <div class="articleblurb">{{stories.News.20.blurb}}</div>
        <div class="articleauthor">By {{stories.News.20.authors}}</div>
      </div>  
  </article>
</a>

<!-- YALE & COVID-19: MAR 2020 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.21.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.21.title}}</h1>
        <div class="articleblurb">{{stories.News.21.blurb}}</div>
        <div class="articleauthor">By {{stories.News.21.authors}}</div>
      </div>  
  </article>
</a>

<!-- YALE SCIENCE INVOLVEMENT IN COVID-19 RESPONSE: MAR 2020 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.22.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.22.title}}</h1>
        <div class="articleblurb">{{stories.News.22.blurb}}</div>
        <div class="articleauthor">By {{stories.News.22.authors}}</div>
      </div>  
  </article>
</a>

<!-- COMMENCEMENT SPEAKER JEAN BENNETT '76: MAY 2020 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.23.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.23.title}}</h1>
        <div class="articleblurb">{{stories.News.23.blurb}}</div>
        <div class="articleauthor">By {{stories.News.23.authors}}</div>
      </div>  
  </article>
</a>

<!-- 2020 BY THE NUMBERS -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.24.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.24.title}}</h1>
        <div class="articleblurb">{{stories.News.24.blurb}}</div>
        <div class="articleauthor">By {{stories.News.24.authors}}</div>
      </div>  
  </article>
</a>

<!-- OVER THE YEARS GRAPHIC -->
<img src="/public/imgs/news/OverTheYears.jpg" class="extra">

<!-- GIFTS TO YALE -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.25.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.25.title}}</h1>
        <div class="articleblurb">{{stories.News.25.blurb}}</div>
        <div class="articleauthor">By {{stories.News.25.authors}}</div>
      </div>  
  </article>
</a>

<!-- WINDHAM CAMPBELL -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.26.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.26.title}}</h1>
        <div class="articleblurb">{{stories.News.26.blurb}}</div>
        <div class="articleauthor">By {{stories.News.26.authors}}</div>
      </div>  
  </article>
</a>

<!-- SPRING FLINGS -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.27.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.27.title}}</h1>
        <div class="articleblurb">{{stories.News.27.blurb}}</div>
        <div class="articleauthor">By {{stories.News.27.authors}}</div>
      </div>  
  </article>
</a>

<!-- PRIZEWINNERS IN THE ARTS -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.28.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.28.title}}</h1>
        <div class="articleblurb">{{stories.News.28.blurb}}</div>
        <div class="articleauthor">By {{stories.News.28.authors}}</div>
      </div>  
  </article>
</a>

<!-- YCC RECAP -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.29.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.29.title}}</h1>
        <div class="articleblurb">{{stories.News.29.blurb}}</div>
        <div class="articleauthor">By {{stories.News.29.authors}}</div>
      </div>  
  </article>
</a>

<!-- COURSE/ACADEMIC CHANGES -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.30.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.30.title}}</h1>
        <div class="articleblurb">{{stories.News.30.blurb}}</div>
        <div class="articleauthor">By {{stories.News.30.authors}}</div>
      </div>  
  </article>
</a>

<!-- YALE FROM 2016-2020 DEMOGRAPHIC CHANGES -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.31.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.31.title}}</h1>
        <div class="articleblurb">{{stories.News.31.blurb}}</div>
        <div class="articleauthor">By {{stories.News.31.authors}}</div>
      </div>  
  </article>
</a>

<!-- HOW SPACES HAVE CHANGED -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.News.32.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.News.32.title}}</h1>
        <div class="articleblurb">{{stories.News.32.blurb}}</div>
        <div class="articleauthor">By {{stories.News.32.authors}}</div>
      </div>  
  </article>
</a>
</body>
