<style>
  #headerimg { background-image: 
  linear-gradient(to bottom,  rgba(209, 209, 209, 0) 40%, #000000 100%), 
  url(/public/imgs/OpinionHeader_MarisaPeryer.jpg); }
</style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content=" Yaa Owusu '22 and Julia Burgiel '22">
    
    <title>Opinion</title>

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="public/grayscale.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" type="image/png" href="./img/favicon.gif"/>
    <link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Jost:wght@400;600&family=Libre+Baskerville:wght@700&family=Montserrat:wght@800&family=Playfair+Display:wght@600;800&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Lora:wght@600&family=Merriweather&display=swap" rel="stylesheet">

</head>

<body>
  <div class="topBar">
    <div class="navOptions">
      <ul class="list">
          <li class="option">
              <a class="navLink" href="/news">News</a>
          </li>
          <li class="option">
              <a class="navLink" href="/sports">Sports</a>
          </li>
          <li class="option">
              <a class="navLink" href="/opinion">Opinion</a>
          </li>
          <li class="option">
              <a class="navLink" href="/wknd">WKND</a>
          </li>
      </ul>
    </div>
  </div>
<div class="bg-image" id="headerimg">
  <span class="title">Opinion</span>
</div>
<div class="center">
  <a href="#about" class="btn btn-circle page-scroll">
    <i class="fa fa-angle-double-down animated"></i>
  </a>
  <div id="about"></div>
</div>
<!-- About Section -->
<div class="abouttext">
  Next year, you'll realize that there are many ways to experience Yale. So what advice can we give you? Read from student columnists and President Salovey regarding their experiences and ideas about the future.
</div>

<!--  PRESIDENT SALOVEY -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.opinion.0.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.opinion.0.title}}</h1>
        <div id="author_op" class="articleauthor">By {{stories.opinion.0.authors}}</div>
      </div>  
  </article>
</a>

<!-- HOW WE SHAPE YALE -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.1.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.opinion.1.title}}</h1>
        <div id="author_op" class="articleauthor">By {{stories.opinion.1.authors}}</div>
      </div>  
  </article>
</a>

<!-- FINDING ONE'S SPACE -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.opinion.2.imageURL}});">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.opinion.2.title}}</h1>
        <div id="author_op" class="articleauthor">By {{stories.opinion.2.authors}}</div>
      </div>  
  </article>
</a>

<!-- THE POLITICAL IS PERSONAL -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.opinion.3.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.opinion.3.title}}</h1>
        <div id="author_op" class="articleauthor">By {{stories.opinion.3.authors}}</div>
      </div>  
  </article>
</a>

<!-- HESITATIONS -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.opinion.4.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.opinion.4.title}}</h1>
        <div id="author_op" class="articleauthor">By {{stories.opinion.4.authors}}</div>
      </div>  
  </article>
</a>

<!-- SHOPPING PERIOD -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.opinion.5.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.opinion.5.title}}</h1>
        <div id="author_op" class="articleauthor">By {{stories.opinion.5.authors}}</div>
      </div>  
  </article>
</a>

</body>
