<style>
  #headerimg { background-image: 
  linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, #000000 100%), 
  url(/public/imgs/SportsHeader_Flippo.jpg); }
</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content=" Yaa Owusu '22 and Julia Burgiel '22">
    <meta name="description" content="Spissues 2020, design based on 2019 Year in Review and 2014 HY site">
    <title>Sports</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="public/grayscale.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="./img/favicon.gif"/>
    <link rel="shortcut icon" type="image/png" href="http://eg.com/favicon.png"/>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=Jost:wght@400;600&family=Libre+Baskerville:wght@700&family=Montserrat:wght@800&family=Playfair+Display:wght@600;800&family=Roboto+Slab:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter&family=Lora:wght@600&family=Merriweather&display=swap" rel="stylesheet">

</head>

<body>
    <div class="topBar">
    <div class="navOptions">
      <ul class="list">
          <li class="option">
              <a class="navLink" href="/news">News</a>
          </li>
          <li class="option">
              <a class="navLink" href="/sports">Sports</a>
          </li>
          <li class="option">
              <a class="navLink" href="/opinion">Opinion</a>
          </li>
          <li class="option">
              <a class="navLink" href="/wknd">WKND</a>
          </li>
      </ul>
    </div>
  </div>
<div class="bg-image" id="headerimg">
  <span class="title">Sports</span>
</div>
<div class="center">
  <a href="#about" class="btn btn-circle page-scroll">
    <i class="fa fa-angle-double-down animated"></i>
  </a>
  <div id="about"></div>
</div>
<!-- About Section -->
<div class="abouttext">
  Although the spring season ended abruptly, the Elis enjoyed one of their strongest athletic showings in school history. Look back on the past year in Yale sports and learn why the Bulldogs’ 35 Division I varsity teams appear poised for more success in 2020–21.
</div>

<!-- THE YEAR IN YALE SPORTS (ONLINE TTL VIA SPARK) -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.0.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.0.title}}</h1>
        <div class="articleblurb">{{stories.sports.0.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.0.authors}}</div>
      </div>  
  </article>
</a>

<!-- SPRING SPORTS CANCELED/COVID-19 -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.1.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.1.title}}</h1>
        <div class="articleblurb">{{stories.sports.1.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.1.authors}}</div>
      </div>  
  </article>
</a>

<!-- MEN'S LACROSSE -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.2.imageURL}});">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.2.title}}</h1>
        <div class="articleblurb">{{stories.sports.2.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.2.authors}}</div>
      </div>  
  </article>
</a>

<!-- WOMEN'S SOCCER -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.3.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.3.title}}</h1>
        <div class="articleblurb">{{stories.sports.3.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.3.authors}}</div>
      </div>  
  </article>
</a>

<!-- SWIM & DIVE -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.4.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.4.title}}</h1>
        <div class="articleblurb">{{stories.sports.4.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.4.authors}}</div>
      </div>  
  </article>
</a>

<!-- ILLUSTRATION -->
<img src="/public/imgs/sports/Dora Guo_Tailgate.jpg" class="extra">

<!-- HEADLINE ROUNDUP STORY -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.5.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.5.title}}</h1>
        <div class="articleblurb">{{stories.sports.5.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.5.authors}}</div>
      </div>  
  </article>
</a>

<!-- MEN'S HOCKEY -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.6.imageURL}});">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.6.title}}</h1>
        <div class="articleblurb">{{stories.sports.6.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.6.authors}}</div>
      </div>  
  </article>
</a>

<!-- WOMEN'S LACROSSE -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.7.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.7.title}}</h1>
        <div class="articleblurb">{{stories.sports.7.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.7.authors}}</div>
      </div>  
  </article>
</a>

<!-- BASEBALL -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.8.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.8.title}}</h1>
        <div class="articleblurb">{{stories.sports.8.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.8.authors}}</div>
      </div>  
  </article>
</a>

<!-- SOFTBALL -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.9.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.9.title}}</h1>
        <div class="articleblurb">{{stories.sports.9.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.9.authors}}</div>
      </div>  
  </article>
</a>

<!-- IMs/TYNG CUP -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.10.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.10.title}}</h1>
        <div class="articleblurb">{{stories.sports.10.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.10.authors}}</div>
      </div>  
  </article>
</a>

<!-- THE GAME: 2016 TO 2019 (ONLINE TTL VIA SPARK) -->
<a class="link-wrap" href="https://yaledailynews.com/">
  <article class="story articlecontainer" style="background-image: url({{stories.sports.11.imageURL}}); ">
      <div class="darkenimage">
        <h1 class="articletext">{{stories.sports.11.title}}</h1>
        <div class="articleblurb">{{stories.sports.11.blurb}}</div>
        <div class="articleauthor">By {{stories.sports.11.authors}}</div>
      </div>  
  </article>
</a>

<div style="text-align: center;">Section Illustration by Dora Guo.</div>

</body>
